<div id="landing" class="b-offers-landing">
    <div class="b-offers-landing__title">
        Перелет + Отель — новая альтернатива классическим турам
    </div>
    <div class="b-offers-landing__content">
        <div class="b-landing-list">
            <div class="b-landing-list__item">
                <div class="b-landing-item">
                    <div class="b-landing-item__img">
                        <%= image_tag "offers_landing/1.png" %>
                    </div>
                    <div class="b-landing-item__text first">
                        <b>Cвобода выбора.</b> 200 стран, 500+ авиакомпаний, 389 тыс. отелей с
                        моментальным подтверждением.
                    </div>
                </div>
            </div>
            <div class="b-landing-list__item">
                <div class="b-landing-item">
                    <div class="b-landing-item__img">
                        <%= image_tag "offers_landing/4.png" %>
                    </div>
                    <div class="b-landing-item__text">
                        <b>Экономия до 20%.</b> Путешествуйте по специальным "пакетным" тарифам от
                        лучших мировых поставщиков.
                    </div>
                </div>
            </div>

            <div class="b-landing-list__item">
                <div class="b-landing-item">
                    <div class="b-landing-item__img">
                        <%= image_tag "offers_landing/2.png" %>
                    </div>
                    <div class="b-landing-item__text">
                        <b>Только регулярные рейсы.</b> Вылет в любой день недели, поездки на уикенды и
                        праздники.
                    </div>
                </div>
            </div>
            <div class="b-landing-list__item">
                <div class="b-landing-item">
                    <div class="b-landing-item__img">
                        <%= image_tag "offers_landing/5.png" %>
                    </div>
                    <div class="b-landing-item__text">
                        <b>Это надежно.</b> Моментальная оплата поставщикам при бронировании.
                    </div>
                </div>
            </div>

            <div class="b-landing-list__item">
                <div class="b-landing-item">
                    <div class="b-landing-item__img">
                        <%= image_tag "offers_landing/3.png" %>
                    </div>
                    <div class="b-landing-item__text">
                        <b>Онлайн оплата банковской картой.</b> После оплаты мы пришлем ваш билет и ваучер на электронную почту.
                    </div>
                </div>
            </div>
            <div class="b-landing-list__item">
                <div class="b-landing-item">
                    <div class="b-landing-item__img">
                        <%= image_tag "offers_landing/6.png" %>
                    </div>
                    <div class="b-landing-item__text">
                        <b>Поддержка 24x7.</b> Поможем оформить визы, страховки, закажем трансфер или
                        экскурсию.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>