<!DOCTYPE html>
<html>
<head>
    <%= yield :og %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic" rel="stylesheet">
    <%= stylesheet_link_tag 'application_landing', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= yield %>
<%= render 'shared/footer' %>
<%= javascript_include_tag 'landing', 'data-turbolinks-track': 'reload' %>
<!-- CarrotQuest BEGIN -->
<script type="text/javascript">
    (function(){
        if (typeof carrotquest === 'undefined') {
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
            s.src = '//cdn.carrotquest.io/api.min.js';
            var x = document.getElementsByTagName('head')[0]; x.appendChild(s);

            carrotquest = {}; window.carrotquestasync = []; carrotquest.settings = {};
            m = ['connect', 'track', 'identify', 'auth', 'open', 'onReady', 'addCallback', 'removeCallback', 'trackMessageInteraction'];
            function Build(name, args){return function(){window.carrotquestasync.push(name, arguments);} }
            for (var i = 0; i < m.length; i++) carrotquest[m[i]] = Build(m[i]);
        }
    })();
    carrotquest.connect('5637-850bc821e4433fdcbc04dbedab6');
</script>
<!-- CarrotQuest END -->
</body>
</html>
